
certifi
cffi
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2



MarkupSafe==1.1.1
matplotlib==3.2.1

jupyter
numpy 

opencv-python==4.2.0.34
pandas==1.0.3

Pillow 


requests
scipy==1.5.2
seaborn==0.10.1

torch==1.1.0
torchvision==0.3.0

tqdm


